<div class="container">

  <div class="header">
    <app-time-and-date></app-time-and-date>

    <div class="city">
      {{ city }}
    </div>
  </div>

  <div class="prayer-container" *ngIf="prayerTimes">

    <div class="countdown">
      {{nextPrayerName}} over: <span>{{ timeLeft }}</span>
    </div>

    <div class="prayer-grid">
      <div class="prayer-cell" [class.active]="nextPrayerName === 'Fajr'">
        <span class="name">Fajr / Sabah</span>
        <span class="time">{{ prayerTimes.Fajr }}</span>
      </div>

      <div class="prayer-cell" [class.active]="nextPrayerName === 'Sunrise'">
        <span class="name">Sunrise / Güneş</span>
        <span class="time">{{ prayerTimes.Sunrise }}</span>
      </div>

      <div class="prayer-cell" [class.active]="nextPrayerName === 'Dhuhr'">
        <span class="name">Dhuhr / Öğle</span>
        <span class="time">{{ prayerTimes.Dhuhr }}</span>
      </div>

      <div class="prayer-cell" [class.active]="nextPrayerName === 'Asr'">
        <span class="name">Asr / Ikindi</span>
        <span class="time">{{ prayerTimes.Asr }}</span>
      </div>

      <div class="prayer-cell" [class.active]="nextPrayerName === 'Maghrib'">
        <span class="name">Maghrib / Aksam</span>
        <span class="time">{{ prayerTimes.Maghrib }}</span>
      </div>

      <div class="prayer-cell" [class.active]="nextPrayerName === 'Isha'">
        <span class="name">Isha / Yatsi</span>
        <span class="time">{{ prayerTimes.Isha }}</span>
      </div>
    </div>

  </div>
</div>
